.chat-body
  %ul.chat-messages
    //個別メッセージ
    %li.chat-message
      .chat-message__header.clearfix
        %p.chat-message__name UserTest
        %p.chat-message__time TimeTest
      %p.chat-message__body BodyTest

    %li.chat-message
      .chat-message__header.clearfix
        %p.chat-message__name UserTest
        %p.chat-message__time TimeTest
      %p.chat-message__body BodyTest

    %li.chat-message
      .chat-message__header.clearfix
        %p.chat-message__name UserTest
        %p.chat-message__time TimeTest
      %p.chat-message__body BodyTest

    %li.chat-message
      .chat-message__header.clearfix
        %p.chat-message__name UserTest
        %p.chat-message__time TimeTest
      %p.chat-message__body BodyTest
